* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.animatie {
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

a {
    text-decoration: none;
    color: black;
    padding: 40px 80px;
    border: solid 3px black;
    position: relative;
    overflow: hidden;
}


/*===========================================================
ANIMATIE 1
============================================================*/

.animatie1 a:before {
    content: 'Hover Me';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    z-index: -1;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    transform: scale(1.3);
    opacity: 0;
}

.animatie1 a:hover:before {
    transform: scale(1);
    font-size: 45px;
    opacity: 1;
    z-index: 1;
}


/*===================================================
ANIMATIE 2
===================================================*/

.animatie2 a {
    color: tomato;
    border-color: tomato;
    text-transform: uppercase;
}

.animatie2 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: tomato;
    border-radius: 2.8em/1.6em;
    transform: translateY(70px) rotateX(91deg);
    transition: 0.6s;
    z-index: -1;
}

.animatie2 a:hover {
    color: white;
    transition-delay: 0.2s;
}

.animatie2 a:hover::before {
    transform: scale(1.31) rotateX(0deg);
}


/*====================================================
ANIMATIE 3
====================================================*/

.animatie3 {
    background-color: #262626;
}

.animatie3 a {
    background-color: rgb(255, 238, 0);
    border: none;
    color: white;
    text-transform: uppercase;
    overflow: visible;
}

.animatie3 a:before {
    content: 'button';
    position: absolute;
    background-color: teal;
    width: 100%;
    min-width: 345.19px;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top;
    z-index: -1;
    transition: .7s;
}

.animatie3 a:after {
    content: 'button';
    position: absolute;
    background-color: red;
    width: 100%;
    min-width: 345.19px;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: bottom;
    z-index: -1;
    transition: .6s;
    transition-delay: .3s;
}

.animatie3 a:hover:before,
.animatie3 a:hover:after {
    transform: rotateX(-360deg);
    z-index: 1;
}


/*=========================================================
ANIMATIE 4
=========================================================*/

.animatie4 {
    background-color: grey;
}

.animatie4 a {
    background-color: grey;
    border: solid 3px rgb(255, 238, 0);
    color: grey;
    text-transform: uppercase;
    overflow: visible;
}

.animatie4 a:before {
    content: 'button';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #262626;
    color: rgb(255, 238, 0);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.animatie4 a:hover:before {
    transform: rotateY(720deg) scale(0) translateX(1000px);
    opacity: 0;
}


/*==================================================
ANIMATIE 5
==================================================*/

.animatie5 {
    background-color: #262626;
}

.animatie5 a {
    color: yellow;
    border: none;
    z-index: 1;
    overflow: visible;
    transition: color .5s ease-in-out;
    z-index: 1;
}

.animatie5 a span {
    transform: scale(0);
    transition: .5s;
    background-color: yellow;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .5em;
    z-index: -1;
}

.animatie5 a:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: yellow;
    top: 50.25px;
    left: 0;
    border-radius: 50%;
    box-shadow: 65px 0px 1px yellow;
    transform: translateX(-200px);
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

.animatie5 a:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: yellow;
    top: 50.25px;
    right: 0;
    border-radius: 50%;
    box-shadow: -65px 0px 1px yellow;
    transform: translateX(200px);
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

.animatie5 a:hover:before {
    opacity: 1;
    transform: translateX(113px);
}

.animatie5 a:hover:after {
    opacity: 1;
    transform: translateX(-87px);
}

.animatie5 a:hover span {
    transform: scale(1);
    transition-delay: .5s;
}

.animatie5 a:hover {
    color: #262626;
    transition-delay: .5s;
}


/*==========================================================
ANIMATIE 6
==========================================================*/

.animatie6 {
    background-color: #262626;
}

.animatie6 a {
    border: none;
    color: rgb(255, 196, 0);
    overflow: visible;
    z-index: 50;
}

.animatie6 a:before {
    content: '';
    position: absolute;
    width: 117%;
    height: 2%;
    background-color: red;
    top: 0;
    left: -30px;
    z-index: 1;
    transition: transform .5s;
}

.animatie6 a:after {
    content: '';
    position: absolute;
    width: 117%;
    height: 3%;
    background-color: rgb(255, 196, 0);
    bottom: 0;
    left: -30px;
    transition: transform .5s;
}

.animatie6 a span {
    content: '';
    position: absolute;
    width: 1%;
    height: 135%;
    transition: transform .5s;
}

.animatie6 a .spanRed {
    top: -20px;
    left: 0;
    background-color: red;
}

.animatie6 a .spanYellow {
    right: 0;
    top: -20px;
    background-color: rgb(255, 196, 0);
}

.animatie6 a:hover:before {
    transform: translateY(129px);
}

.animatie6 a:hover:after {
    transform: translateY(-129px);
}

.animatie6 a:hover .spanRed {
    transform: translateX(352px);
}

.animatie6 a:hover .spanYellow {
    transform: translateX(-352px);
}


/*====================================================
ANIMATIE 7
===================================================*/

.animatie7 {
    background-color: #262626;
}

.animatie7 a {
    background-color: rgb(191, 121, 64);
    border: none;
    color: whitesmoke;
    text-transform: uppercase;
    overflow: visible;
}

.animatie7 a:before {
    content: '';
    width: 17%;
    height: 4%;
    position: absolute;
    background-color: rgb(191, 121, 64);
    top: 0;
    left: 0;
    transform: translate(-.20em, -.3em);
    transition: width .4s;
}

.animatie7 a:after {
    content: '';
    width: 1.3%;
    height: 45%;
    background-color: rgb(191, 121, 64);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-.29em, -.299em);
    transition: height .4s;
}

.animatie7 a .bottom-right {
    content: '';
    width: 17%;
    height: 4%;
    position: absolute;
    background-color: rgb(191, 121, 64);
    bottom: 0;
    right: 0;
    transform: translate(.20em, .3em);
    transition: width .4s;
}

.animatie7 a .right {
    content: '';
    width: 1.3%;
    height: 45%;
    background-color: rgb(191, 121, 64);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(.29em, .299em);
    transition: height .4s;
}

.animatie7 a:hover:before,
.animatie7 a:hover .bottom-right {
    width: 100%;
}

.animatie7 a:hover:after,
.animatie7 a:hover .right {
    height: 100%;
}


/*====================================================
ANIMATIE 8
===================================================*/

.animatie8 {
    background-color: #262626;
}

.animatie8 a {
    color: rgb(226, 179, 79);
    border-color: rgb(226, 179, 79);
    z-index: 1;
    transition: color .2s;
    transition-delay: .15s;
}

.animatie8 a:before {
    content: '';
    position: absolute;
    background-color: rgb(226, 179, 79);
    width: 25%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(136px);
    transition: transform .2s;
    transition-delay: 0;
}

.animatie8 a:after {
    content: '';
    position: absolute;
    background-color: rgb(226, 179, 79);
    width: 25%;
    height: 100%;
    top: 0;
    left: 88.75px;
    z-index: -1;
    transform: translateY(-136px);
    transition: transform .2s;
    transition-delay: .1s;
}

.animatie8 a .an8-1 {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: rgb(226, 179, 79);
    width: 25%;
    height: 100%;
    top: 0;
    left: 177.5px;
    transform: translateY(136px);
    transition: transform .2s;
    transition-delay: .2s;
}

.animatie8 a .an8-2 {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: rgb(226, 179, 79);
    width: 25%;
    height: 100%;
    top: 0;
    left: 266.25px;
    transform: translateY(-136px);
    transition: transform .2s;
    transition-delay: .3s;
}

.animatie8 a:hover:before,
.animatie8 a:hover .an8-1 {
    transform: translateY(0);
}

.animatie8 a:hover:after,
.animatie8 a:hover .an8-2 {
    transform: translateY(0);
}

.animatie8 a:hover {
    color: #262626;
}


/*====================================================================
ANIMATIE 9
===================================================================*/

.animatie9 a {
    z-index: 1;
    overflow: visible;
    transition: color .4s;
    display: flex;
    flex-direction: row;
}

.animatie9 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0;
    transition: transform .4s, opacity .4s;
}

.animatie9 a .an9-rot {
    transition: transform .4s;
    list-style: none;
    display: table;
}

.animatie9 a:hover:before {
    transform: rotate(20deg);
    opacity: 1;
}

.animatie9 a:hover .an9-rot {
    transform: rotate(720deg) scale(3.6) translateX(-.2em);
}

.animatie9 a:hover {
    color: white;
}